body {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}
h1 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans";
}
.question {
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans";
}
html,
body {
  width: 1200px;
  margin: 0 auto;
}
body {
  /*background: #000000 url("../img/sedona-index-1200.jpg") no-repeat 50% 3px;
  background-size: 1200px auto;*/
  /*background: #000000 url("../img/sedona-hotels-1200.jpg") no-repeat 50% 3px;
  background-size: 1200px auto;*/
}
.wrapper {
  margin: 0 auto;
}
.main-header {
  display: flex;
  min-height: 56px;
}
.main-navigation {
  display: flex;
}
.main-navigation-part-1 {
  width: 500px;
  min-height: 56px;
  margin-right: 25px;
}
.main-navigation-part-2 {
  width: 500px;
  min-height: 56px;
  margin-left: 25px;
}
.promo {
}
.promo-text {
  margin: 0 auto;
  width: 576px;
  text-align: center;
}
.features-holder {
  width: 1200px;
}
.features-row {
  background: #81b3d2;
  display: flex;
  width: 1200px;
  min-height: 256px;
}
.description {
  width: 400px;
}
.features-icon {
  background: #fff;
  display: flex;
  width: 1200px;
  min-height: 330px;
  justify-content: space-between;
}
.features-icon-item {
  width: 400px;
  padding: 50px;
  padding: 50px;
}
.features-row-other {
  flex-direction: row-reverse;
}
.features-number {
  background: #eeeeee;
  display: flex;
  width: 1200px;
  min-height: 256px;
}
.features-number-item {
  width: 400px;
  padding: 50px;
  padding: 50px;
}
.suggestion {
  background: #fff;
  width: 1200px;
  margin: 0 auto;
}
.search-hotels {
  width: 570px;
  margin: 0 auto;
}
.filters {
  display: flex;
  background: #637685 url("../img/filter-background.jpg") no-repeat;
  background-position: 0px 0px;
  min-height: 216px;
}
.checkbox-left {
  width: 180px;
  margin-left: 73px;
}
.checkbox-right {
  width: 180px;
  margin-left: 73px;
}
.range {
  width: 328px;
  margin-left: auto;
}
.result {
  display: flex;
  padding-left: 73px;
  padding-right: 73px;
}
.sorting {
  width: 100%;
}
.increase-decrease {
  width: 36px;
}
.content {
  padding-left: 73px;
  padding-right: 73px;
}
.content-items {
  display: flex;
  min-height: 152px;
}
.holder {
  width: 259px;
}
.rating {
  width: 100px;
  margin-left: auto;
}
.main-footer {
  min-height: 120px;
  display: flex;
  justify-content: space-between;
}
.hashtag {
  width: 400px;
}
.footer-social {
  width: 400px;
}
.footer-copyright {
  width: 400px;
}
